---
spring:
  application:
    environment: prod

oidc-demo-client:
  theme:
    heading: Login with EIDAS (prod)
  oidc-integration:
    issuer: https://idporten.no
    client-id: eidas-oidc-demo-client
    client-auth-method: client_secret_basic
    client-secret: ${OIDC_DEMO_CLIENT_SECRET}
    redirect-uri: https://demo-client.eidasnode.no/callback
    post-logout-redirect-uri: https://demo-client.eidasnode.no/logout/callback
  csp-header:
    - "default-src 'self';"
    - "img-src 'self' data:;"
    - "font-src 'self' cdn.jsdelivr.net static.idporten.no static.test.idporten.no altinncdn.no;"
    - "style-src 'self' cdn.jsdelivr.net static.idporten.no static.test.idporten.no altinncdn.no;"
    - "connect-src 'self' cdn.jsdelivr.net static.idporten.no static.test.idporten.no altinncdn.no;"
    - "form-action 'self' login.idporten.no;"
