spring:
  application:
    environment: docker-test

server:
  port: 7074
  servlet:
    context-path: /idporten-oidc-demo-client

oidc-demo-client:
  features:
    authorization-details-enabled: true
    use-pushed-authorization-requests: true
  theme:
    user-id-claim: pid
    heading: Login with Ansattporten
    form-defaults:
      scope: openid
      acr-value: low
      ui-locale: en
  oidc-integration:
    connect-timeout-millis: 5000
    read-timeout-millis: 5000
    jwks-cache-lifetime-minutes: 60
    jwks-cache-refresh-minutes: 5
    issuer: https://test.ansattporten.no
    client-id: f312e273-9e32-43e8-8f64-7db112b13ab6
    client-auth-method: client_secret_basic
    client-secret: 198fddc1-f773-46a9-9ece-920424fd6aaa
    redirect-uri: http://democlient:7074/idporten-oidc-demo-client/callback
    post-logout-redirect-uri: http://democlient:7074/idporten-oidc-demo-client/logout/callback
  csp-header:
    - "default-src 'self';"
    - "img-src 'self' data:;"
    - "font-src 'self' cdn.jsdelivr.net;"
    - "style-src 'self' cdn.jsdelivr.net;"
    - "script-src 'self' cdn.jsdelivr.net;"
    - "form-action 'self' login.test.ansattporten.no;"

management:
  server:
    port: ${server.port}
