<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="scripts">
    <script th:src="@{/dcscript-0.4.js}"
            integrity="sha384-EgjqglIFS3cpWIOcWVhB1xjpHCTTOaWRgK4J5U3HkA3M7sAsvTJXqcnHJEnnmQfv"
            crossorigin="anonymous"
            defer></script>
    <script th:src="@{/permlink.js}"
            integrity="sha384-ug+X9TC794Ww4pu1btePFGxG98BzhFe6ntNLAKAeyaj3ufjc070SPJK/LTS0njqG"
            crossorigin="anonymous"
            defer></script>
</div>
</body>
</html>