<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div>
    <head th:fragment="head" lang="nn">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ID-porten OpenID Connect demo client</title>
        <link rel="stylesheet" th:href="@{/main.css}" href="main.css"/>
        <link rel="stylesheet" th:href="@{/bootstrap.css}" href="bootstrap.css"/>
        <link rel="shortcut icon" th:href="@{/favicon.ico}" href="/favicon.ico">
        <link
                rel="stylesheet"
                href="https://altinncdn.no/fonts/inter/v4.1/inter.css"
                integrity="sha384-OcHzc/By/OPw9uJREawUCjP2inbOGKtKb4A/I2iXxmknUfog2H8Adx71tWVZRscD"
                crossorigin="anonymous"
        />
        <link rel="stylesheet" href="https://static.idporten.no/ds/v1.7.1/css/ds-style.css">
        <link rel="stylesheet" href="https://static.idporten.no/ds/v1.7.1/css/ds-theme.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        <link rel="stylesheet" th:href="@{/override.css}" href="override.css"/>
    </head>
</div>
</body>
</html>