<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<summary role="button" aria-expanded="false" slot="summary" tabindex="0" class="details-heading" id="authorizationRequestHeading"
         aria-controls="authorizationRequest" >
    Authorization request
</summary>

<div th:fragment="protocoltrace" >
    <div th:if="${ session?.protocolTrace?.allInteraction?.size > 0 }"  id="protocolTrace" class="ds-card">
        <details class="ds-details" th:each="interaction: ${session.protocolTrace.allInteraction}">
            <summary th:id="'header' + ${interaction.id}" class="details-heading" role='button'>
                <p th:text="${interaction.text}" th:remove="tag"/>
                <span th:if="${#objects.nullSafe(interaction.warningLevel, false)}" th:switch="${interaction.warningLevel}"
                      class="ds-field">
                        <i th:case="${T(no.idporten.tools.oidc.democlient.util.WarningLevel).WARNING}" class="bi bi-exclamation-triangle-fill text-warning"></i>
                        <i th:case="${T(no.idporten.tools.oidc.democlient.util.WarningLevel).ERROR}" class="bi bi-exclamation-circle-fill text-danger"></i>
                    </span>
            </summary>
            <div th:id="${interaction.id}"
                 th:aria-labelledby="'header' + ${interaction.id}"
                 data-bs-parent="#protocolTrace">
                <div class="ds-paragraph">
                    <pre th:text="${interaction.interaction}"/>

                    <button type="button" class="ds-button bi bi-clipboard-plus" aria-label="Kopier"
                            role="button" data-tooltip="Kopier" data-placement="top" data-autoplacement="true"
                            title="Kopier" th:copytext="${interaction.interaction}"></button>

                </div>
            </div>
    </details>
    </div>
</div>
</body>
</html>