<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="protocoltrace">
    <div th:if="${session.protocolTrace}" class="accordion" id="protocolTrace">
        <script th:src="@{/dcscript-0.2.js}" defer>
        </script>
        <div class="accordion-item" th:each="interaction: ${session.protocolTrace.allInteraction}">
            <h2 class="accordion-header" th:id="'header' + ${interaction.id}">
                <button class="accordion-button collapsed +${}" type="button" data-bs-toggle="collapse"
                        th:data-bs-target="'#' + ${interaction.id}" aria-expanded="false"
                        th:aria-controls="${interaction.id}">
                    <p th:text="${interaction.text}" th:remove="tag"/>
                </button>
            </h2>
            <!-- TODO: Add warning indicator or error indicator -->
            <div th:id="${interaction.id}" class="accordion-collapse collapse"
                 th:aria-labelledby="'header' + ${interaction.id}"
                 data-bs-parent="#protocolTrace">
                <div class="accordion-body">
                    <pre th:text="${interaction.interaction}"/>
                    <button type="button" class="btn btn-default bi bi-clipboard-plus" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Kopier" th:copytext="${interaction.interaction}"></button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>