<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="nn">

<head>
    <meta http-equiv="refresh" th:content="|0; url=${uri}|" />;
    <title>Login with ID-porten</title>
</head>
<body>
<div class="container">
    <h1><span th:if="${theme}" th:text="${theme.heading}" th:remove="tag">Login with ID-porten</span></h1>
    <p>Logging you in...  </p>
    <p>If you are not redirected automatically, click button to continue.</p>
    <br />
    <a class="btn btn-primary" th:href="${uri}" role="button">Login</a>
</div>

<div th:replace="~{fragments/footer::scripts}"/>

</body>
</html>