<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="nn">

<head lang="nn">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login with ID-porten</title>
    <th:block th:include="~{fragments/header::links}"></th:block>
    <meta http-equiv="refresh" th:content="|0; url=${uri}|" />
</head>
<body>
<div class="container">
    <h1 th:replace="~{fragments/header::heading}"></h1>
    <p>Logging you in...  </p>
    <p>If you are not redirected automatically within 30 seconds, click button to continue.</p>
    <br />
    <a th:href="${uri}">
        <button type="button" class="ds-button" role="button" data-variant="primary">Login</button>
    </a>
</div>

<div th:replace="~{fragments/footer::scripts}"/>

</body>
</html>