<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="nn">

<head th:replace="~{fragments/header::head}"/>
<body>
<div class="container">
    <div th:replace="~{fragments/header::heading}"></div>

    <div  class="ds-alert" data-color="warning" role="alert"   >
        An error occurred during login.<br/>
        <p th:if="${message}" th:text="${message}" th:remove="tag"/>
    </div>
<br/>
    <div th:insert="~{fragments/protocoltrace::protocoltrace}" />

    <br/>
    <div class="buttongroup">
        <a  th:href="@{/}" class="ds-button" data-variant="primary">Back</a>
    </div>
</div>

<div th:replace="~{fragments/footer::scripts}"/>

</body>
</html>