<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="nn">

<head th:replace="fragments/header::head"/>
<body>
<div class="container">
    <h1>Innlogging med ID-porten</h1>

    <p th:if="${personIdentifier}">Logget inn som <span th:text="${personIdentifier}" th:remove="tag">personidentifier</span></p>

    <div th:include="fragments/protocoltrace::protocoltrace" />

    <a class="btn btn-primary" th:href="@{/}" role="button">Tilbake</a>
    <a class="btn btn-primary" th:href="@{/logout}" role="button">Logout</a>
</div>

<div th:replace="fragments/footer::scripts"/>

</body>
</html>
