<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="nn">

<head th:replace="fragments/header::head"/>
<body>
<div class="container">
    <h1><span th:text="${theme.heading}" th:remove="tag">Login with ID-porten</span></h1>
    <br/>
    <form id="authorizationRequestForm" action="#" th:action="@{/authorize}" th:object="${authorizationRequest}" method="post">

        <div class="accordion" id="authorizationRequestAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="authorizationRequestHeading">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#authorizationRequest" aria-expanded="false" aria-controls="authorizationRequest">
                        Authorization request
                    </button>
                </h2>
                <div id="authorizationRequest" class="accordion-collapse collapse"
                     aria-labelledby="authorizationRequestHeading" data-bs-parent="#authorizationRequestAccordion">
                    <div class="accordion-body">
                        <div class="form-group">
                            <label th:for="scopes">Scope (scope)</label>
                            <input type="text" th:field="*{scopes}" class="form-control"/>
                        </div>
                        <div th:if="${features.isAuthorizationDetailsEnabled()}" class="form-group">
                            <label th:for="authorizationDetails">Authorization details (authorization_details)</label>
                            <input type="text" th:field="*{authorizationDetails}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label th:for="acrValues">Acr (acr_values)</label>
                            <input type="text" th:field="*{acrValues}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label th:for="uiLocales">Locale (ui_locales)</label>
                            <input type="text" th:field="*{uiLocales}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label th:for="prompt">Prompt (prompt)</label>
                            <input type="text" th:field="*{prompt}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label th:for="state">State (state)</label>
                            <input type="text" th:field="*{state}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label th:for="nonce">Nonce (nonce)</label>
                            <input type="text" th:field="*{nonce}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label th:for="codeVerifier">PKCE Code verifier used to compute Code challenge (code_challenge)</label>
                            <input type="text" th:field="*{codeVerifier}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label th:for="codeChallengeMethod">PKCE Code challenge method (code_challenge_method)</label>
                            <input type="text" th:field="*{codeChallengeMethod}" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

<div th:replace="fragments/footer::scripts"/>

</body>
</html>
