<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="nn">

<head th:replace="~{fragments/header::head}"/>
<body>
<div class="container">
    <div class="ds-heading headline" data-size="lg"><span th:text="${theme.heading}" th:remove="tag">Login with ID-porten</span></div>
    <br/>

    <div class="ds-alert" data-color="success">
        You are logged out.
    </div>

    <div th:insert="~{fragments/protocoltrace::protocoltrace}" />
    <br/>

    <a th:href="@{/}">
        <button type="button" class="ds-button" data-variant="primary">Back</button>
    </a>
</div>

<div th:replace="~{fragments/footer::scripts}"/>

</body>
</html>
