<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head lang="nn">
    <meta charset="UTF-8"/>
    <title>Integrasjon mot eID</title>
    <link rel="stylesheet" href="main.css"/>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <h1>Du er nå logget ut av ID-porten</h1>

    <a class="btn btn-primary" th:href="@{/}" role="button">Tilbake</a>

</div>
</body>
</html>
