<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="nn">

<head th:replace="~{fragments/header::head}"/>
<body>
<div class="container">
    <h1><span th:text="${theme.heading}" th:remove="tag">Login with ID-porten</span></h1>

    <div class="alert alert-success" role="alert">
        You are logged out.
    </div>

    <div th:insert="~{fragments/protocoltrace::protocoltrace}" />
    <br/>
    <a class="btn btn-primary" th:href="@{/}" role="button">Back</a>
</div>

<div th:replace="~{fragments/footer::scripts}"/>

</body>
</html>
